img {
    width: 200px;
    image-rendering: auto;

}

#top {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

#portal {
    font-size: large;
}

body {
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.section {
    text-align: center;
    font-size: x-large;
}

#introduction {
    font-size: larger;
}

.term {
    font-size: large;
    text-decoration: underline;
}